html body {
    margin: 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: space-around;
    align-items: center;
   /*  align-items: end;
    align-items: flex-start; */
}


img {
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 10px 10px 5px 0px rgba(3,3,3,0.4);
    background-color: aquamarine;
}